* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  background-size: contain;
  background-size: 100% 100%;
  justify-content: center;
  background-image: url(./images/background.jpg);
  flex-direction: column;
}

.title{
    background-color: #262626;
    color: #fff;
    padding:5px;
    width: 80%;
    text-align: center;
    font-size: 2rem;
    border-radius: 5px 5px 0 0 ;
}

.container{
    width: 80%;
    padding: 50px 40px ;
    background-color: #fff;   
    border-radius:0 0 15px 15px;
    text-align: center;
    box-shadow: 0 0 10px ;
}
.quote{
 font-size: 1.5rem;
 line-height: 1.5;
}

.person{
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 5%;
}

.changeQuote {
    padding: 5px 10px;
    font-size: 1.6rem;
    border-radius: 4px;
    border: 0;
    color: #f00;
    background-color: #0e0e0e;
    margin-top: 2%;
}
